# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit/Replit caches
.streamlit/
.replit/

# Logs
*.log

uv.lock