# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
poetry.lock
pyproject.toml

# Environment
.env
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit/Replit caches
.streamlit/
.replit/
.replit

# Logs
*.log

uv.lock